.loginRegister {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 40px;
    
    .title {
        width: 100%;
        padding: 12px;
        margin-bottom: 14px;
        font-size: 22px;
        font-family: "Roboto";
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #cecece;
        font-weight: bold;
        background-color: #fff;
    }

    ul {
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #cecece;
        background-color: #fff;

        li {
            width: 50%;
            height: 50px;

            button {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                font-weight: 600;
                text-transform: capitalize;
                border: none !important;
                border-radius: 0 !important;
                background-color: #eeeeee !important;
                color: black !important;

                &[class~='active'] {
                    background-color: #0077ff !important;
                    color: white !important;
                }
            }
        }
    }

    & > div[class~='tab-content'] {
        padding: 16px;
        border: 1px solid #cecece;
        border-top: 0;
        background-color: #fff;
    }
}