.chatMessageListContainer {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    flex: 1;
    background-color: #EFEFEF;
    border: 1px solid rgba(0, 0, 0, 0.08);
    position: relative;
    height: 100%;
    overflow: auto;
}