.chatMessageListContainer {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  flex: 1;
  background-color: #efefef;
  border: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
  height: 100%;
  overflow: auto;
  transition: all 0.3s ease-in-out;

  & > p {
    font-size: 12px;
    margin-bottom: 0;
    height: 25px;
    display: flex;
    align-items: center;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.5);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
