.chatListContainer {
  background-color: #fff;
  position: relative;
  border-radius: 8px;
  height: 100%;

  .userChatList {
    height: calc(100% - 70px);
    overflow: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: rgba(255, 255, 255, 0.5);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
