$avatar-margin: 10px;

.chatMessageContainer {
  display: flex;
  margin-bottom: 16px;
  flex-direction: row;

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: $avatar-margin;
    object-fit: cover;
  }

  &.incomingMsg {
    flex-direction: row-reverse;

    .avatar {
      margin-right: 0;
      margin-left: $avatar-margin;
    }
  }

  .chatMessage {
    background-color: #dcf8c6;
    padding: 10px;
    padding-bottom: 0;
    border-radius: 8px;
    color: #4e4e4e;
    max-width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.08);

    &.incomingMsg {
      background-color: #ffffff;
      color: #000;
    }

    .chatMessageHeader {
      margin: 0 0 4px;
      font-size: 16px;
      font-weight: 600;
      color: #001aff;
    }

    p {
      margin: 0;
      font-size: 16px;
      line-height: 24px;
    }

    span {
      font-size: 12px;
      color: #a7a7a7;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}
