.profilePic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  margin: 8px auto 24px auto;
  transition: 0.4s linear;
  cursor: pointer;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    z-index: 9999;
  }

  &:hover::before {
    content: url('data:image/svg+xml,<svg stroke="white" fill="white" stroke-width="0" viewBox="0 0 16 16" height="3em" width="3em" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"></path><path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"></path></svg>');
    background-color: rgba(0, 0, 0, 0.7);
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
